Frontend/.dart_tool/package_config.json
Frontend/.dart_tool/package_config_subset
Frontend/.packages
Frontend/build
Backend/SEPT_Backend/src/main/resources/application.properties
Frontend/.dart_tool/
Frontend/build/
Backend/Appointment_Server/target/
Backend/Profile/src/main/resources/application.properties
Backend/Profile/src/main/resources/application.properties
Backend/Appointment_Server/src/main/resources/application.properties
